<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://monitoralerttoslack.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1d02f906-2ef1-44c0-a99f-d718af6cdfed/resourceGroups/Default-ActivityLogAlerts/providers/Microsoft.Web/sites/MonitorAlertToSlack</ResourceId>
    <UserName>$MonitorAlertToSlack</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://monitoralerttoslack.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>